html {
    margin: 0;
    background-color: #000000d0;
}
body{
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #C2185B;
    height: 40px;
    width: 100%;
    padding: 35px 15px;
    box-sizing: border-box;

}

.search-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
    
}

input {
    text-align: center;
    margin-right: 20px;

    background-color: rgb(255, 255, 255);
    border: 1px rgb(0, 0, 0);
    border-radius: 0;
    -webkit-appearance: none;    
}

button{
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    background-color: #ac1551;
    border-radius: 6px;
    border: 0px ;
  }

#temperature-box {
    display: flex;
    justify-content: center;
    padding-top: 5%;

}

#temperature {
    position: absolute;
    color: #EC407A;
    font-family: roboto;
    font-size: 100px;
    margin: 0;

}

.centered-box { 
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    
}

.graph-box {
    width: 600px;
    height: 100px;
}